body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9; 
  color: #333;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff; 
.section {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-bg {
  background-color: #4caf50; 
  color: #fff;
  padding: 20px;
  border-radius: 8px 8px 0 0;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  color: #fff;
}

h2 {
  margin-top: 0;
  color: #444;
}

h3 {
  margin-top: 0;
  color: #555;
}

p {
  margin: 10px 0;
}

ul {
  margin: 10px 0;
  padding-left: 20px;
}

li {
  margin: 5px 0;
}

.navigation-container {
  background-color: 
  padding: 10px; 
  border-radius: 8px; 
  margin-top: 20px; 
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: center;
}

.navigation a {
  text-decoration: none;
  color: #fff; 
  padding: 10px 20px; 
  border-radius: 30px; 
  margin: 0 5px; 
  transition: background-color 0.3s, color 0.3s;
  background-color: #388e3c;
}

.navigation a:hover {
  background-color: #1b5e20; 
}

img {
  display: block; 
  margin: 0 auto; 
}
