body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

#app-container {
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 50px;
}

form {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.search-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.8);
  font-size: 16px;
  padding: 12px;
  width: 70%;
  border-radius: 6px 0 0 6px;
  margin-right: 10px;
}

.search-button {
  font-size: 16px;
  background-color: #885df1;
  color: white;
  border: none;
  padding: 12px;
  line-height: 1;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}

.current-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.current-weather div {
  text-align: center;
}

.current-weather h1 {
  margin-bottom: 10px;
}

.weather-details {
  font-size: 14px;
  color: #777;
}

.weather-time,
.weather-condition,
.weather-humidity,
.weather-wind {
  color: #555;
}

.weather-humidity,
.weather-wind {
  color: #ff4d4d;
  font-weight: bold;
}

.weather-temperature {
  font-size: 24px;
}

.sun-icon {
  font-size: 36px;
}

footer {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

footer a {
  color: #885df1;
  text-decoration: none;
}
